# that .gitignore modified: https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore

# User-specific stuff
.idea/workspace.xml
.idea/misc.xml
.idea/modules.xml

# CMake
cmake-build-debug/
[Bb]uild/

[Ll]ogs.txt

# Prerequisites
*.d

.vscode/
.vs/
/out

*.ilk
*.pdb

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app